/about.html1
/Access.lnk
/channie.jpg
/demo. repo
/desktop.ini
/Excel.lnk
/Git Bash.lnk
/GitHub (1).lnk
/GitHub.lnk
/Google Classroom.lnk
/loveras of the red sky
/Microsoft Edge.lnk
/Microsoft Word 2010.lnk
/Peace - Chrome.lnk
/peace 1.png
/PowerPoint.lnk
/Publisher.lnk
/Skype for Business.lnk
/Visual Studio Code.lnk
/Word.lnk